html
  head
    title Upvote counter
  body
    include includes/header.pug
    div.container
      h2 Most upvoted subreddits by u/#{user} with a limit of #{limit}
      div.row
        div.panel-group#accordion
          each subreddit, i in subreddits
            div.panel.panel-default
              div.panel-heading
                h4.panel-title
                  a(data-toggle="collapse" data-parent="#accordion" href="#collapse"+i)= subreddit.subreddit_name
                  span.badge.badge-default.counter= subreddits[i].count
              div(id="collapse"+i).panel-collapse.collapse
                div.panel-body
                  ul.list-group
                    each post, j in subreddit.posts
                      li.list-group-item
                        div.d-flex.w-100.justify-content-between
                          h4.mb-1= post.title
                          //- TODO: show when was the post uploaded
                          small.text-muted Posted #{post.postedAgo} on #{post.postedDate}
                        p.mb-1 Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
                        a(href="https://www.reddit.com/user/"+post.author.name+"/submitted?sort=top" target="_blank").text-mutedDonec Posted by #{post.author.name}
